<div class="well menu-card" data-id="owner-menu">
    <div class="list-group">
        <a href="#" data-id="edit-owner" class="list-group-item user-action only-mono-selection"><i class="fa fa-pencil-square-o"></i><span class="hidden-xs"> Editer</span><div class="visible-xs"> Editer</div></a>
    </div>
</div>
<div class="well menu-card" data-id="owner-form-menu" data-target="#owner-form">
    <div class="list-group">
        <a href="#" type="button" class="list-group-item user-action cancel-form"><i class="fa fa-reply"></i><span class="hidden-xs"> Annuler</span><div class="visible-xs"> Annuler</div></a>
        <a href="#" type="button" class="list-group-item user-action" data-id="save-form"><i class="fa fa-save"></i><span class="hidden-xs"> Enregistrer</span><div class="visible-xs"> Enregistrer</div></a>
    </div>
</div>