<div class="js-filterbar" data-id="accounting-menu">
    <div class="row">
        <div class="col-xs-6">
            <h2><%= t('Period') %></h2>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-block js-user-action accounting-period" role="button"></button>
            <div class="js-year-picker year-picker"></div>
        </div>
    </div>
</div>

<div class="card">
    <div id="accounting-entries-exits-table"></div>
    <div id="accounting-payments-table"></div>
</div>
