# Coverage directory used by tools like istanbul
.nyc_output
coverage

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

dist
bkp/locadb
.vscode