<form id="login-form" role="form" action="/loggedin" method='post'>
    <div class="form-error"><i class="fa fa-exclamation-triangle"></i> <span class="form-error-message"></span></div>
    <div class="form-group">
        <label class="control-label">E-mail</label>
        <input type="email" class="form-control" id="username" name="username" placeholder="Votre adresse e-mail">
    </div>
    <div class="form-group">
        <label class="control-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe">
    </div>
</form>
<div class="text-center">
    <button id="login-send" type="button" class="btn btn-primary">Se connecter</button>
    <%if (config.productive) {%>
    <p>Pas encore de compte ? <a href="/signup">S'inscrire gratuitement</a>
    <%} else {%>
    <p>&nbsp;</p>
    <%}%>
</div>
<!--div class="clearfix">
    <a href="/forgotpass" id="forgot-password" class="pull-right">Mot de passe oublié ?</a>
</div-->