<div id="properties" class="list">
    <div data-id="property-form" class="js-sheet sheet card">
        <%- include propertyform.ejs %>
    </div>
    <div class="js-list-content"></div>
</div>
