<div id='view-account' class='view'>
    <div class="left-container">
        <div class="view-title"><h2>Compte</h2></div>
    </div><div class="center-container">
        <% include form/accountform.ejs %>
    </div><div class="right-container">
    </div>
</div>