<div class="footer">
    <div class="footer-container cleanfix">
        <div class="copyright pull-left">
            © <%=webSiteInfo.product.copyrightYear%> <a href="<%=webSiteInfo.company.website%>" title="creator"><%=webSiteInfo.company.name%></a>
        </div>
    </div>
</div>