<div id='view-selectrealm' class='view'>
    <ul class="list-inline text-center">
    <% for (index=0; index<account.realms.length; index++) { %>
		<li class='h2'>       			
			<a href="#" class='realm-action' data-id="<%=account.realms[index]._id%>"><i class="fa fa-building-o fa-2x"></i> <%= account.realms[index].name %> </a>
		</li>
    <% } %>
    </ul>
</div>