<div id='view-signup' class='view'>
	<center>
		<h3>Créez votre compte en quelques clics</h3>
		<h4>c'est gratuit!</h4>
	</center>
	<div class="well form-card">
		<% include form/signupform %>
	</div>
</div>