<div id='view-website' class='view'>
    <h1><center><%=webSiteInfo.product.slogan%></center></h1>
    <h2><center>Créez votre compte maintenant !</center></h2>
    <div class="centeredbtn">
        <a href="/signup" class="btn btn-primary btn-lg">S'inscrire gratuitement</a>
        <p>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a></p>
    </div>
</div>