<!-- HANDLEBAR TEMPLATES -->
<script id="notification-list-template" type="text/x-handlebars-template">
    {{#if notifications}}
        <div class="carousel-inner" role="listbox">
            <div class="item active text-center">
                <div class="vertical-center">
                    <h4><i class="fa fa-rss fa-5x"></i></h4>
                    <h3><%= t('Issue') %></h3>
                </div>
            </div>
            {{#each notifications}}
            <div class="item text-center">
                <div class="vertical-center">
                    <h2 class="js-user-action" data-id="notificationselector" data-value="{{notificationId}}">{{Image type}} {{title}}</h2>
                    <h4>{{description}}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    {{else}}
        <div class="carousel-inner">
            <div class="item active text-center">
                <div class="vertical-center">
                    <h4><i class="fa fa-bullhorn fa-5x"></i></h4>
                    <h3><%= t('Issue') %></h3>
                </div>
            </div>
            <div class="item text-center">
                <div class="vertical-center">
                    <h3><%= t("It's going OK! No problems (^_^)") %></h3>
                </div>
            </div>
        </div>
    {{/if}}
</script>
<!-- /HANDLEBAR TEMPLATES -->
