<ul class="list-inline text-center">
<% for (index=0; index<realms.length; index++) { %>
    <li class='h2'>
        <a href="#" class='js-realm-action' data-id="<%=realms[index]._id%>"><i class="fa fa-building-o fa-2x"></i> <%= realms[index].name %> </a>
    </li>
<% } %>
</ul>
