<div id="properties" class="list">
    <div class="form-content">
        <div data-id="property-form" class="sheet">
            <div class="list-form-view">
                <% include propertyform.ejs %>
            </div>
        </div>
    </div>
    <div class="list-content"></div>
</div>
