<div class="js-side-menu side-menu card" data-id="owner-menu">
    <button type="button" data-id="edit-owner" class="btn btn-default btn-block js-user-action js-only-mono-selection"><i class="fa fa-pencil-square-o"></i> <%= t('Edit') %></button>
</div>

<div class="js-side-menu side-menu card" data-id="owner-form-menu" data-target="#owner-form">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
    <button type="button" class="btn btn-default btn-block js-user-action" data-id="save-form"><i class="fa fa-save"></i> <%= t('Save') %></button>
</div>
