<script id="occupant-invoices-template" type="text/x-handlebars-template">
    {{#each years}}
        <a href="#" class="h3 page-header js-user-action" data-id="invoice-link" data-occupant-id="{{occupantId}}" data-year="{{year}}">{{year}}</a>
        <div class="list-group">
            {{#each months}}
                <a href="#" class="list-group-item js-user-action" data-id="invoice-link" data-occupant-id="{{occupantId}}" data-month="{{month}}" data-year="{{year}}">
                    {{formatMonth month}} <span class="text-muted">({{i18next key='Rent'}} {{formatMoney totalToPay}})</span>
                    <span class="pull-right">{{formatMoney payment}}</span>
                </a>
            {{/each}}
        </div>
    {{/each}}
</script>

<div id="occupant-invoices"></div>
