<div class="list-form-view">
    <div class="filterbar" data-id="accounting-menu">
        <div class="row">
            <div class="col-xs-6">
                <h2><%= t('Period') %></h2>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-block user-action accounting-period mobile-view" role="button"></button>
                <div class="year-picker" class="hidden"></div>
            </div>
        </div>
    </div>

    <div id="accounting-entries-exits-table"></div>

    <div id="accounting-payments-table"></div>
</div>
