<div class="well">
	<form id="rent-payment-form" class="grid-form" role="form">
		<div class="well well-sm form-error"><i class="fa fa-exclamation-triangle"></i> <span class="form-error-message"></span></div>
	 	<input type="hidden" id="_id" />
	 	<input type="hidden" id="month" value=""/>
	 	<input type="hidden" id="year" value=""/>
	 	 	<h2 id="occupantNameLabel"></h2>
		 	<h2 class="page-header">Règlement</h2>
		 	<div class="row">
		 		<div class="col-xs-12 col-lg-4">
		 			<label>Indiquer le montant, le mode de règlement et la date de paiement.</label>
		 		</div>
		 		<div class="col-xs-12 col-lg-8">
		 			<div class="row">
			 			<div class="col-xs-12 col-lg-6">
						    <div class="form-group">
						        <label class="control-label" for="payment">Montant</label>
						        <div class="input-group">
							      	<input type="text" id="payment" class="form-control text-right" />
							      	<span class="input-group-addon">€</span>
							    </div>
						    </div>
						</div>
						<div class="col-xs-12 col-lg-6">
						    <div class="form-group">
						        <label class="control-label" for="paymentType">Mode</label>
						        <select id="paymentType" class="form-control">
						            <option value="cheque">Chèque</option>
						            <option value="cash">Espèce</option>
						            <option value="levy">Prélèvement</option>
						            <option value="transfer">Virement</option>
						        </select>
						    </div>
					    </div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-lg-6">
						    <div class="form-group">
						        <label class="control-label" for="paymentReference">Référence</label>
						        <input type="text" id="paymentReference" class="form-control" />
						    </div>
						</div>
						<div class="col-xs-12 col-lg-6">
							<div class="form-group">
						        <label class="control-label" for="paymentDate">Date</label>
						        <input type="text" class="datepicker form-control" id="paymentDate" />
						    </div>
						</div>
				    </div>
				</div>
			</div>
		 	<h2 class="page-header">Réduction sur le loyer</h2>
		 	<div class="row">
		 		<div class="col-xs-12 col-lg-4">
		 			<label>Déduction sur le loyer courant.</label>
		 		</div>
		 		<div class="col-xs-12 col-lg-8">
				    <div class="form-group">
				        <label class="control-label" for="promo">Montant</label>
				        <input type="text" id="promo" class="form-control" />
				    </div>
				    <div class="form-group">
				        <label class="control-label" for="notepromo">Motif de la réduction.</label>
				        <input type="text" id="notepromo" class="form-control" />
				    </div>
		 		</div>
		 	</div>
		 	<h2 class="page-header">Note interne</h2>
		 	<div class="row">
		 		<div class="col-xs-12 col-lg-4">
		 			<label>Information interne qui n'apparaîtra pas sur la quittance.</label>
		 		</div>
		 		<div class="col-xs-12 col-lg-8">
					<div class="form-group">
				        <label class="control-label" for="description">Commentaires</label>
				        <textarea type="text" class="form-control" id="description" rows="4" /></textarea>
				    </div>
				</div>
			</div>

	    <!--
	    <div class="form-group">
	        <label class="control-label" for="description">Note interne</label>
	        <textarea id="description" class="" rows="3"></textarea>
	    </div>
	    -->
		<div class="well well-sm form-error"><i class="fa fa-exclamation-triangle"></i> <span class="form-error-message"></span></div>
	</form>
</div>