<div class="menu-card well" data-id="rents-selection-menu">
    <div class="list-group">
        <a href="#" class="list-group-item btn-default user-action cancel-selection"><i class="fa fa-reply"></i><span class="hidden-xs"> Annuler la séléction</span><div class="visible-xs"> Annuler</div></a>
        <a href="#" data-id="list-action-pay-rent" class="list-group-item user-action only-mono-selection"><i class="fa fa-credit-card"></i><span class="hidden-xs"> Règlement</span><div class="visible-xs"> Règlement</div></a>
        <a href="#" data-id="list-action-rents-history" class="list-group-item user-action only-mono-selection"><i class="fa fa-history"></i><span class="hidden-xs"> Échéancier des loyers</span><div class="visible-xs"> Échéancier</div></a>
        <a href="#" data-id="list-action-print" class="list-group-item user-action hidden-xs"><i class="fa fa-print"></i><span class="hidden-xs"> Imprimer un document</span></a>
    </div>
    <h4 class="page-header hidden-xs list-selection-menu-label"></h4>
    <div class="list-selected-elements list-group list-group-selection hidden-xs"></div>
</div>

 <div class="menu-card well" data-id="pay-rent-form-menu" data-target="#pay-rent-form">
    <div class="list-group">
        <a href="#" class="list-group-item user-action cancel-form"><i class="fa fa-reply"></i><span class="hidden-xs"> Annuler</span><div class="visible-xs"> Annuler</div></a>
        <a href="#" data-id="list-action-save-form" type="button" class="list-group-item user-action"><i class="fa fa-save"></i><span class="hidden-xs"> Enregistrer</span><div class="visible-xs"> Enregistrer</div></a>
    </div>
    <h4 class="page-header hidden-xs list-selection-menu-label"></h4>
    <div class="list-selected-elements fixed list-group hidden-xs"></div>
 </div>

 <div class="menu-card well"  data-id="rents-history-menu" data-target="#rents-history">
    <div class="list-group">
        <a href="#" class="list-group-item user-action cancel-form"><i class="fa fa-reply"></i><span class="hidden-xs"> Annuler</span><div class="visible-xs"> Annuler</div></a>
    </div>
 </div>

 <div class="menu-card well"  data-id="print-doc-selector-menu" data-target="#print-doc-selector">
    <div class="list-group">
        <a href="#" class="list-group-item user-action cancel-form"><i class="fa fa-reply"></i><span class="hidden-xs"> Annuler</span><div class="visible-xs"> Annuler</div></a>
    </div>
    <h4 class="title-card hidden-xs list-selection-menu-label"></h4>
    <div class="list-selected-elements fixed list-group hidden-xs"></div>
 </div>