<!-- HANDLEBAR TEMPLATES -->
<script id="view-rent-list-row-template" type="text/x-handlebars-template">
    <div id="{{_id}}" class="js-list-row list-row card" data-filter-values="{{occupant.name}},{{status}}">
        <div class="list-col">
            <div class="list-label">
                {{#if status}}
                    <div class="{{cssClassPaymentStatus}} hidden js-list-value">
                        {{paymentStatus}} <!-- {{#if countMonthNotPaid}} ({{i18next key='late month' count=countMonthNotPaid}}) {{/if}} -->
                    </div>
                {{/if}}
                {{> view-rent-payment-badges-template}}
            </div>
            <div class="clearfix">
                <div class="pull-left list-avatar-col">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-calendar-o fa-stack-2x"></i>
                        <span class="fa icon-text fa-stack-1x">{{i18next key="__currency_symbol"}}</span>
                    </span>
                </div>
                <div class="pull-left">
                    <div class="list-title js-list-value">{{occupant.name}}</div>
                </div>
            </div>
            <div class="list-label">
                {{#each occupant.properties}} {{Image property.type}} {{propertyName property.type}}{{#unless @last}} - {{/unless}} {{/each}}
            </div>
        </div>
        <div class="list-col">
            <div class="list-label clearfix">
                <div class="pull-right">
                {{> view-rent-email-status-badges-template}}
                </div>
            </div>
            <div class="list-label clearfix">
                <small class="pull-right"><%= t('Payment') %></small>
            </div>
            <div class="list-payment-price text-right">
                <span>{{formatMoney payment withOdometer='payment'}}</span>
            </div>
            <div class="list-label clearfix">
                <div class="pull-left"><%= t('Balance')%></div>
                <div class="list-balance-price pull-right text-right">
                    {{formatMoney newBalance withOdometer='newBalance'}}
                </div>
            </div>
            <div data-toggle="tooltip" data-placement="right" class="list-comment-link" data-html="true" title="{{breaklines description}}" style="{{commentVisible description}}"><span class="glyphicon glyphicon-comment"></span></div>
        </div>
        <div class="list-selection-overlay"></i></div>
    </div>
</script>

<script id="view-rent-payment-badges-template" type="text/x-handlebars-template">
    <ul class="list-inline">
        {{#each paymentStatus}}
        <li>
            {{paymentBadgeStatus}}
        </li>
        {{/each}}
    </ul>
</script>

<script id="view-rent-email-status-badges-template" type="text/x-handlebars-template">
    <ul class="list-inline">
        <li>
            {{#if emailStatus.status.rentcall}}
                <span
                    class="label label-success"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="{{i18next key="Sent by email the"}} {{formatDateTime emailStatus.last.rentcall.sentDate}}">
                    <i class="fa fa-envelope-o"></i> {{i18next key="Rent notice"}} [{{emailStatus.count.allRentcall}}]
                </span>
            {{else}}
                <span class="label label-default"><i class="fa fa-envelope-o"></i> {{i18next key="Rent notice"}}</span>
            {{/if}}
        </li>
        <li>
            {{#if emailStatus.status.invoice}}
                <span class="label label-success"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="{{i18next key="Sent by email the"}} {{formatDateTime emailStatus.last.invoice.sentDate}}">
                    <i class="fa fa-envelope-o"></i> {{i18next key="Rental invoice"}} [{{emailStatus.count.invoice}}]
                </span>
            {{else}}
                <span class="label label-default"><i class="fa fa-envelope-o"></i> {{i18next key="Rental invoice"}}</span>
            {{/if}}
        </li>
    </ul>
</script>

<script id="view-rent-list-content-template" type="text/x-handlebars-template">
    {{#each rows}}
        {{> view-rent-list-row-template}}
    {{/each}}
</script>

<script id="view-rent-selected-list-template" type="text/x-handlebars-template">
    {{#each rows}}
        <div class="list-group-item">
            <div class="clearfix">
            </div>
            <div class="clearfix">
                <div class="pull-left">
                    <h5>{{occupant.name}}</h5>
                </div>
                <div id="{{_id}}" class="pull-right js-user-action" data-id="remove-item-from-selection">
                    <i class="fa fa-times"></i>
                </div>
                <div class="pull-right">
                    <h5>{{formatMoney totalToPay}}</h5>
                </div>
            </div>
            <!--small>
                <div class="{{cssClassPaymentStatus}}">
                    {{paymentStatus}} {{#if countMonthNotPaid}} ({{i18next key='late month' count=countMonthNotPaid}}) {{/if}}
                </div>
            </small-->
            <div class="clearfix">
                <div class="pull-right">
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script id="email-status-template" type="text/x-handlebars-template">
    <h4><i class="fa fa-envelope-o"></i> {{i18next key="Your mailings"}}</h4>
    <table class="table table-bordered table-striped">
    <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-6">
    </colgroup>
    {{#each results}}
    <tr class="{{#if error}}danger{{/if}}">
        <td>{{name}}</td>
        {{#if error}}
            {{#if to}}
            <td>{{i18next key="impossible to send document to"}} {{to}}</td>
            {{else}}
            <% if (config.demomode) { %>
            <td>{{i18next key="emails cannot be sent in demo mode"}}</td>
            <% } else { %>
            <td>{{i18next key="no emails defined for tenant"}}</td>
            <% } %>
            {{/if}}
        {{else}}
        <td>{{i18next key="successfuly sent to"}} {{to}}</td>
        {{/if}}
    </tr>
    {{/each}}
    </table>
</script>
<!-- /HANDLEBAR TEMPLATES -->
