<div class="reference">
    <table>
    	<tr>
            <td class="label">Date d'entrée</td>
            <td><%= formatDate(occupant.beginDate) %></td>
        </tr>
        <tr>
            <td class="label">Référence facture</td>
            <td><%= rent.billingReference %></td>
        </tr>
        <tr>
            <td class="label">Période de location</td>
            <td><%= rent.period %></td>
        </tr>
        <tr>
            <td class="label">Numéro de TVA intra.</td>
            <td><%= realm.vatNumber %></td>
        </tr>
    </table>
</div>
