<div class="footer">
    <% if (realm.isCompany) { %>
        <%= `${realm.companyInfo.name} ${realm.companyInfo.legalStructure} ${t('with share capital of')} ${formatMoney(realm.companyInfo.capital)} ${realm.companyInfo.ein}` %>
    <% } %>
</div>