<div class="footer">
    <% if (realm.isCompany) { %>
        <%= `${realm.company} ${realm.legalForm} ${t('with share capital of')} ${formatMoney(realm.capital)} ${realm.siret}` %>
    <% } %>
</div>