<!-- HANDLEBAR TEMPLATES -->
<script id="view-rent-list-row-template" type="text/x-handlebars-template">
    <div id="{{_id}}" class="js-list-row list-row card">
        <div class="list-col">
            <div class="list-label">
                {{#if status}}
                <div class="{{cssClassPaymentStatus}} js-list-value">
                    {{paymentStatus}} {{#if countMonthNotPaid}} ({{i18next key='late month' count=countMonthNotPaid}}) {{/if}}
                </div>
                {{/if}}
                {{> view-rent-payment-badges-template}}
            </div>
            <div class="clearfix">
                <div class="pull-left list-avatar-col">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-calendar-o fa-stack-2x"></i>
                        <span class="fa icon-text fa-stack-1x">&euro;</span>
                    </span>
                </div>
                <div class="pull-left">
                    <div class="list-title js-list-value">{{occupant.name}}</div>
                </div>
            </div>
            <div class="list-label">
                {{#each occupant.properties}} {{Image property.type}} {{propertyName property.type}}{{#unless @last}} - {{/unless}} {{/each}}
            </div>
        </div>
        <div class="list-col">
            <div class="list-label clearfix">
                <small class="pull-right"><%= t('Payment') %></small>
            </div>
            <div class="list-payment-price text-right">
                <span>{{formatMoney payment withOdometer='payment'}}</span>
            </div>
            <div class="list-label clearfix">
                <div class="pull-left"><%= t('Balance')%></div>
                <div class="list-balance-price pull-right text-right">
                    {{formatMoney newBalance withOdometer='newBalance'}}
                </div>
            </div>

            <div data-toggle="tooltip" data-placement="right" class="list-comment-link" data-html="true" title="{{breaklines description}}" style="{{commentVisible description}}"><span class="glyphicon glyphicon-comment"></span></div>
        </div>
        <div class="list-selection-overlay"></i></div>
    </div>
</script>

<script id="view-rent-payment-badges-template" type="text/x-handlebars-template">
        <ul class="list-inline">
            {{#each paymentStatus}}
            <li>
                    {{paymentBadgeStatus}}
            </li>
            {{/each}}
        </ul>
</script>

<script id="view-rent-list-content-template" type="text/x-handlebars-template">
    {{#each rows}}
        {{> view-rent-list-row-template}}
    {{/each}}
</script>

<script id="view-rent-selected-list-template" type="text/x-handlebars-template">
    {{#each rows}}
        <div class="list-group-item">
            <div class="clearfix">
                <div class="pull-left">
                    <h5>{{occupant.name}}</h5>
                </div>
                <div id="{{_id}}" class="pull-right js-user-action" data-id="remove-item-from-selection">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <small>
                <div class="{{cssClassPaymentStatus}}">
                    {{paymentStatus}} {{#if countMonthNotPaid}} ({{i18next key='late month' count=countMonthNotPaid}}) {{/if}}
                </div>
            </small>
            <div class="clearfix">
                <div class="pull-right">
                    <h4>{{formatMoney totalToPay hideCurrency=false}}</h4>
                </div>
            </div>
        </div>
    {{/each}}
</script>
<!-- /HANDLEBAR TEMPLATES -->
